*{
    border :solid;
}
    

h1{
    color:rgb(0, 0, 0)
}

h2{
    color:rgb(134, 16, 134)
}
.header{
    background-color: rgb(10, 10, 199);
    display:flex;
    justify-content: space-between;
}
.grid{
display:flex;
flex-wrap:wrap;
justify-content: space-evenly;
}
.footer{
    display:flex;
    justify-content: flex-end;
    flex-direction: row-reverse;

}
.item1{
background-color: rgb(233,44,77);
}

.item2{
    background-color: rgb(33,4,77);
    }
    .item3{
        background-color: rgb(23,4,7);
        }

        .grid{

        background-color:rgb(250, 8, 177)
        }

        .footer{

            background-color:rgb(250, 8, 177)
            }
    